*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body,
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  padding-top: 115px;
  background-color: #f5f5f5;
  color: #111;
}