.securityContainer {
    padding: 40px 50px;
}

.sectionTitle h1 {
    font-size: 34px;
}

.sectionContent > p {
    font-size: 16px;
    color: rgb(100, 99, 99);
    margin-top: 5px;
}

.changePassSection {
    margin-top: 30px;
    max-width: 1000px;
}

.icon {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    font-size: 25px;
    color: rgb(61, 61, 214);
    background-color: rgba(81, 81, 231, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-bottom: 20px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.info h3 {
    font-size: 20px;
}

.info .text p {
    font-size: 14px;
    color: rgb(100, 99, 99);
    margin-top: 5px;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 20px;
    border: 1px solid lightgray;
    background-color: white;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.passwordForm label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.passwordForm input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgb(206, 206, 206, 0.3);
    max-width: 400px;
}

.passwordForm button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
}
