.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    animation: fadeIn 0.25s ease;
}


.modal {
    background: #141414;
    color: #fff;
    border-radius: 18px;
    width: 420px;
    max-width: 92%;
    box-shadow:
        0 30px 80px rgba(0, 0, 0, 0.6),
        0 0 0 1px rgba(255, 255, 255, 0.04);
    overflow: hidden;
    animation: scaleIn 0.25s ease;
}

.optionBtns {
    display: flex;
    background: #111;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.optionBtns button {
    flex: 1;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s ease;
}

.optionBtns button:hover {
    background: rgba(255, 217, 0, 0.267);
    color: #fff;
}

.optionBtns .active {
    color: #FFD700;
    border-bottom: 3px solid #FFD700;
}

.optionBtns button:nth-child(1) {
    border-top-left-radius: 12px;
}

.optionBtns button:nth-child(2) {
    border-top-right-radius: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}