.registerSection h3{
    text-align: center;
    padding: 20px 20px 5px;
    font-size: 22px;
    font-weight: 600;
    color: #ccc;
}

.registerSection form {
    padding: 20px;
    padding-top: 0px;
}

.registerSection form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ccc;
    font-weight: 500;
}

.registerSection form input {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
    background: #1c1c1c;
    color: #fff;
    font-size: 14px;
    transition: 0.25s;
}


.registerSection form input:focus {
    outline: none;
    border-color: #FFD700;
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.25);
}

.btnContainer {
    text-align: center;
    margin-top: 15px;
}

.registerSection .inputError {
    border: 2px solid red;
}

.registerSection form .inputError:focus {
    box-shadow: none !important;
    border-color: red !important;
}

.error {
    color: rgb(204, 6, 6);
    text-align: center;
    margin: 15px;
    font-size: 14px;
    font-weight: 600;
}

.registerBtn {
    background: linear-gradient(135deg, #FFD700, #c9a400);
    padding: 12px 26px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s ease;
}

.registerBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(255, 215, 0, 0.25);
}