.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.topBar {
  height: 36px;
  background-color: #d1a71d;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-size: 12.5px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #000000;
}

.topBarText {
  white-space: nowrap;
  opacity: 0.9;
  display: flex;
  align-items: center;
  gap: 5px;
}

ul {
    list-style-type: none;
}

.headerContainer {
    display: flex;
    align-items: center;
    background: black;
    height: 80px;
}

.leftSide,
.rightSide,
.centerSide {
    flex-shrink: 1;
}

.leftSide {
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
    flex: 2;
}

.leftSide img {
    height: 55px;
    width: auto;
}

.leftSide .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconAdmin {
  font-size: 40px;
  margin-right: 25px;
  cursor: pointer;
}

.centerSide {
    flex: 3;
}

.centerSide ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerSide ul li {
    position: relative;
    height: 80px;
}

.centerSide ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: background-color 0.3s ease;
}

.centerSide ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 100%;
    z-index: 999;
    background: black;
    box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.6);
}

.centerSide ul li ul.dropdown li {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    height: 60px;
}

.centerSide ul li ul.dropdown li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerSide ul li ul.dropdown li ul.dropdownTeams {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background: black;
    box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.6);
}

.centerSide ul li ul.dropdown li ul.dropdownTeams li {
    height: 60px;
    min-width: 120px;
}

.centerSide ul li ul.dropdown li ul.dropdownTeams li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerSide ul li:hover > ul.dropdown {
    display: block;
}

.centerSide ul li ul.dropdown li:hover > ul.dropdownTeams {
    display: block;
}

.centerSide ul li:hover > a {
    background: #1F1F1F;
}

.rightSide {
    display: flex;
    justify-content: flex-start;
    margin-right: 25px;
    flex: 2;
}

.rightSide ul {
    display: flex;
    padding-top: 5px;
    gap: 25px;
}

.rightSide a {
    display: inline-block;
    height: 35px;
    width: 35px;
}

.rightSide ul li {
  position: relative;
}

.rightSide ul li .dropdown {
  position: absolute;
  top: 52px;
  left: -40px;

  display: flex;
  flex-direction: column;
  gap: 0;

  background: black;
  min-width: 120px;

  box-shadow: 0 8px 16px rgba(0,0,0,0.6);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  z-index: 999;
}

.rightSide ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.rightSide ul li .dropdown li {
  height: 40px;
  display: flex;
}

.rightSide ul li .dropdown li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: background 0.2s ease;
}

.rightSide ul li .dropdown li:hover {
  background-color: #1F1F1F;
}

.searchBar {
    display: flex;
    margin-right: 25px;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 8px;
}

.searchBar input {
    height: 35px;
    padding: 10px;
    border: 2px solid white;
}

.centerSide .sale {
    color: red;
}

.centerSide .new {
    color: rgba(250, 221, 59, 0.904);
}

.iconSearch {
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}

.iconProfile {
  font-size: 35px;
  cursor: pointer;
}

.profileItem {
  position: relative;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
}

.profileItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.iconCart {
  font-size: 30px;
  cursor: pointer;
}

.header a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}